dt {
	width: 10em;
	font-weight: bold;
}

dt:after {
	content: ":";
}

.build-flow-step {
	position: relative;
	border: 3px solid red;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	margin: 10px;
}

.build-flow-step > p {
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

