<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"></link>
		<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"></link>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">
		</div>
		<div class="container">
			<dl>
				<dt>Name</dt>
				<dd th:text="${buildFlow.name}">Build Flow Name</dd>
			</dl>
			<div id="steps">
				<div th:each="step : ${steps}">
					<div th:replace="buildflowstep/buildflowstep :: build-flow-step">
						<div class="build-flow-step">
							<p>
							Type
							</p>
						</div>
					</div>
				</div>
				<div>
					<!-- TODO: Include buildflowstep.html with + instead of text -->
					Add new step
				</div>
			</div>
			<div th:replace="fragments/footer :: footer">
			</div>
		</div>
	</body>
</html>
